    $font-stack: "Oswald, sans-serif";
    $primary-color: white;
    $primary-background: black;
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: white; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: wheat; 
      }

    @-webkit-keyframes slide-top {
        0% {
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }

        50% {
            -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
        }

        100% {
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
    }

    @keyframes slide-top {
        0% {
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }

        50% {
            -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
        }

        100% {
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
    }


    ///////////////////////////////
    @-webkit-keyframes kenburns-top {
        0% {
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
        }

        100% {
            -webkit-transform: scale(1.25) translateY(0);
            transform: scale(1.25) translateY(0);
            -webkit-transform-origin: top;
            transform-origin: top;
        }
    }

    @keyframes kenburns-top {
        0% {
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
        }

        100% {
            -webkit-transform: scale(1.25) translateY(0);
            transform: scale(1.25) translateY(0);
            -webkit-transform-origin: top;
            transform-origin: top;
        }
    }
    .flex {
        display: flex;
        align-items: center;
      }
      
      .flex.fill {
        height: 100%;
      }
      
      .flex.center {
        justify-content: center;
      }
    body,
    p,li {
        font-family: $font-stack !important;
        color: $primary-color !important;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 15px;
        background-color: $primary-background !important;
       

    }
  
    @media screen and (max-width:1150px) {
        p{
            font-size: 12px!important;
        }
    }

    h1,h2 {
        background-color: transparent !important;
        font-size: 50px !important;
        margin: 0 !important;
        padding: 20px 50px
    }
    @media screen and (max-width:1200px) {
       h1{
        font-size: 20px!important;
       }
       h2{
        font-size: 20px!important;
       }
    }

    p {
        background-color: transparent !important;

    }

    .navbar_helios {
        position: relative;
        z-index: 1000;

        transition: top 0.3s ease-in-out;
        height: 200px;
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        background-color: rgba(10, 6, 6, 0.842);

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        &-content {
            display: grid;
            grid-template-columns: repeat(3,auto);
            grid-row: 1/span 2;

        }

        &.navbar-responsive {
            height: 2000px;
            background-color: black;
            z-index: 1001px !important;
        }

        &-icon {
            display: grid;
            grid-template-columns: repeat(3,0.5fr);
            grid-template-rows: 1fr 1fr;
            direction: rtl;

            p {
                grid-row: 2;
            }
        }

        &-main {
            img {
                width: 30%;
            }
        }

        &-detail {
            display: grid;
            grid-template-columns: repeat(7, auto) ;
            grid-column-start: 2;
            grid-gap: 10px;

            &.hide {
                display: none;
            }
        }

        .navbar {
            display: none;
        }

        @media screen and (max-width:1000px) {
            .navbar {
                display: grid;
                grid-row-start: 1;
              
                padding: 0px;
                padding-top: 30px;
                padding-left: 20px;
            }
            
            &-icon {
                grid-column-start: 3;
                grid-template-columns: 1fr 1fr 1fr;
            }
            hr{
                grid-column-start: 2;
            }
            &-main {
                grid-column-start: 2;

                img {
                    width: 100px;
                }
            }

            &-content {
                grid-row-start: 3;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-start: 2;
            }

            &-detail {
                grid-column-start: 1;
                grid-row-start: 1;
            }
        }
    }
    @media  screen and (max-width:450px) {
        p{
            font-size: 10px;
        }
    }

    .banner {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .navbar-menu_responsive {
        z-index: 1000;
      position: relative;
        // padding-top: 100px;
        position: fixed;
        top:0;
        height: 100%;
        width: 100%;
        background-color: black;
        font-weight: bolder;
        font-size: 20px;
        padding-left: 20px;
    }


    //////////////////////////////////////////
    .product-list {
        // margin-bottom: ;
        background-color: $primary-background;
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
        padding: 20px 50px;
        grid-gap: 20px;
      
            max-width: 100%;
            overflow-x: auto;
          
        &_item:hover{
            overflow: hidden;
            align-items: center;
            text-align: center;

            img {

                height: auto;
                width: 100%;
                height: 100%;
                -webkit-animation: kenburns-top 5s ease-out both;
                animation: kenburns-top 5s ease-out both;

            }

            button {
                position: absolute;
                -webkit-animation: slide-top 2s;
                animation: slide-top 2s;
                font-weight: bold;
                top: 50%;
                left: 50%;
                width: 200px;
                transform: translateX(-50%);
                height: 50px;
                display: block;
                border: none;

                @media screen and (max-width:700px) {

                    font-size: 80%;

                }

            }

        }


        &_item {
            position: relative;

            text-align: center;

            img {
                width: 100%;
                filter: brightness(70%);
            }

            p {
                position: absolute;
                font-size: 30px;
                background-color: transparent;
                top: 30%;
                width: 100%;
            }

            button {
                display: none;

            }
        }
      
    }

    //---------------------Introduction-----------------------------//


    .introduction {
        height: 1000px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: $primary-background;
        grid-gap: 20px;
        padding: 50px 50px;
        margin-top: 100px;

        &-img {

            grid-column-start: 1;

            &_item {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                

                img {
                    width: 100%;
                    height: 100%;
                }

                video {
                    width: 100%;
                    height: 100%;
                }
            }

            &.sticky {
                margin-top: 200px;
                position: fixed;
                top: 150px;
                top: 0;
                right: 0;
                left:0;
                display: grid;
                grid-template-columns: 2fr 1fr;
                padding: 20px 50px;
                grid-gap: 20px;
                
                &-content {
                    grid-column-start: 2;
                }
                .introduction-img_item {
                    grid-column-start: 1;
                   

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    video {
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }

        &-content {
            grid-column-start: 2;

            h1 {
                padding: 20px 0;
            }

            &_icon {
                padding-bottom: 10px;
            }

            &_size {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                p:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            &_buy {
                button {
                    margin: 20px 0;
                }

            }

            margin-left: 100px;
        }
    }
    //----------------------------Top Collection----------------------//
    .top-collection{
        height: 1000px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        padding:0 50px ;
        grid-gap: 200px;
        height: 100%;
     
        img{
            width: 100%;
        }
        h1{
            padding:50px 0;
        }
        
    }
    .hide{
        margin-top: 100px;
        visibility: hidden;
   }



.collab{
    
  
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    padding: 0 20px;
  
    grid-gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
   
    overscroll-behavior-inline:contain ;
   
   
    &-item{
        // display: inline-block;
        background-color: red!important;
        color: white;
        text-align: center;
        margin-top: 0px;
        height: 500px;
         box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
         
       
        img{
            height: 100%;
            width: 100%;
            border-radius: 20px;
        }
    }
    &-item:hover{
        background-color: #777!important;
    }
    @media screen and (max-width:1300px) {
        &-item{
            height: 300px;
            img{

            }
        }
    }
}
.footer{
    h2{
        color:white;
        margin:0;
        padding:0
    }
    h1{
        color:white;
        margin:0;
        padding:0
    }
    
    background-color: $primary-background!important;
    margin-top: 50px;
    display: grid!important;
    margin: 50px;
    grid-gap:10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-template-rows:1fr ;
    .customer-info{
        align-self: flex-start;
    }
    .about-us{
        align-self: flex-start;
    }
    .customer-care{
        align-self: flex-start;
    }
     
  
}
