.login{
    display: flex;
    margin:5% 39%;
    flex-direction: column;
    text-align: center;
    h1{
        width: 100%;
        text-align: center;
    }
    .link{
        text-align: center;
        cursor: pointer;
    }
}