.banner{
    position: relative;
    img{
        width: 100%;
        
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr auto;
        position: absolute;
        justify-content:center ;
        text-align: center;
        top: 0;
        h1{
            grid-column-start: 2;
        }
        p{
            grid-column-start: 2;
            grid-row-start: 2;
           font-size: 20px;
            width: 100%;
            font-weight: bold;
        }
    }
}