    $font-stack: "Oswald, sans-serif";
    $primary-color: white;
    $primary-background: black;

    @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        50% {
          -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
        }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
      
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        50% {
          -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
        }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
      ///////////////////////////////
      @-webkit-keyframes kenburns-top {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translateY(0);
                  transform: scale(1.25) translateY(0);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      @keyframes kenburns-top {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translateY(0);
                  transform: scale(1.25) translateY(0);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
    body,p{
        font-family: $font-stack !important;
        color: $primary-color !important;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 14px;
       
    }

    h1 {
        background-color: $primary-background;
        font-size: 25px !important;
        margin: 0 !important;
        padding: 20px 50px
    }

    .navbar_helios {
        height: 100px;
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: $primary-background ;

        &-content {
            display: grid;
            grid-template-columns: 0.2fr 0.2fr 0.2fr;
            grid-row: 1/span 2;

        }

        &.navbar-responsive {
            height: 2000px;
            background-color: black;
            z-index: 1001px !important;
        }

        &-icon {
            display: grid;
            grid-template-columns: 0.2fr 0.2fr 0.2fr;
            grid-template-rows: 1fr 1fr;
            direction: rtl;

            p {
                grid-row: 2;
            }
        }

        &-main {
            img {
                width: 30%;
            }
        }

        &-detail {
            display: grid;
            grid-template-columns: repeat(6, 0.2fr) auto;
            grid-column-start: 2;
            grid-gap: 10px;

            &.hide {
                display: none;
            }
        }

        .navbar {
            display: none;
        }

        @media screen and (max-width:1000px) {
            .navbar {
                display: grid;
                grid-row-start: 1;
                grid-template-columns: 0.2fr 1fr 1fr;
                padding: 0px;
                padding-top: 30px;
                padding-left: 20px;
            }

            &-icon {
                grid-column-start: 3;
                grid-template-columns: 1fr 1fr 1fr;
            }

            &-main {
                grid-column-start: 2;

                img {
                    width: 100px;
                }
            }

            &-content {
                grid-row-start: 2;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-start: 2;
            }

            &-detail {
                grid-column-start: 1;
                grid-row-start: 1;
            }
        }
    }
    @media  screen and (max-width:450px) {
        p{
            font-size: 10px;
        }
    }

    .banner {
        img {
            width: 100%;
            height: 600px;
        }
    }

    .navbar-menu_responsive {
        padding-top: 20px;
        height: 100vh;
        width: 100%;
        background-color: black;
        font-weight: bolder;
        font-size: 20px;
        padding-left: 60px;
    }


    //////////////////////////////////////////
    .product-list {
        margin-bottom: 100px;
        background-color: $primary-background;
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
        padding: 0 50px;
        grid-gap: 20px;
      
        height: 100px;
          
        &_item:hover{
            overflow: hidden;
                img{
                    
                    height: auto;
                    width: 100%;
                    -webkit-animation: kenburns-top 5s ease-out both;
                    animation: kenburns-top 5s ease-out both;
                  
                }
                button{
                 
                    -webkit-animation: slide-top 2s  ;
                    animation: slide-top 2s  ;
                      font-weight: bold;
                    display: inline;
                        position: absolute;
                        left: 35%;
                        top: 45%;
                        border: none;
                        height: 45px;
                }
            
        }
        &_item {
            position: relative;

            text-align: center;
            img {
                width: 100%;
                filter: brightness(70%);
            }
            p{
                position: absolute;
                font-size: 25px;
                background-color:transparent;
                top: 30%;
                width: 100%;
            }
            button{
                display: none;
               
            }
        }
        @media  screen and (max-width:450px) {
            p{
                font-size: 10px;
            }
        }
      
    }
  
  